asttokens==2.4.1
backcall==0.2.0
Bottleneck @ file:///C:/b/abs_f05kqh7yvj/croot/bottleneck_1707864273291/work
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
comtypes==1.1.14
contourpy @ file:///C:/b/abs_853rfy8zse/croot/contourpy_1700583617587/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
decorator==5.1.1
et-xmlfile==1.1.0
executing==2.0.1
fernet==1.0.1
fonttools==4.25.0
idna==3.7
importlib-resources @ file:///C:/b/abs_d0dmp77t95/croot/importlib_resources-suite_1704281892795/work
ipython==8.5.0
jedi==0.19.1
joblib @ file:///C:/b/abs_1anqjntpan/croot/joblib_1685113317150/work
kaleido==0.2.1
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
Matplotib==1.0.0
matplotlib==3.5.2
matplotlib-inline==0.1.7
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
munkres==1.1.4
numexpr @ file:///C:/b/abs_a7kbak88hk/croot/numexpr_1668713882979/work
numpy @ file:///C:/b/abs_54abayvc9j/croot/numpy_and_numpy_base_1682520598361/work
openpyxl==3.0.10
packaging @ file:///C:/b/abs_cc1h2xfosn/croot/packaging_1710807447479/work
pandas @ file:///C:/b/abs_cdcgk91igc/croots/recipe/pandas_1663772960432/work
parso==0.8.4
pickleshare==0.7.5
pillow @ file:///C:/b/abs_e22m71t0cb/croot/pillow_1707233126420/work
plotly==5.15.0
ply==3.11
prompt-toolkit==3.0.43
pure-eval==0.2.2
pyaes==1.6.1
pycryptodome==3.20.0
Pygments==2.17.2
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
pypiwin32==223
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///C:/b/abs_19q3ljkez4/croot/pytz_1695131651401/work
pywin32==306
requests==2.31.0
scikit-learn @ file:///C:/b/abs_38k7ridbgr/croot/scikit-learn_1684954723009/work
scipy==1.9.1
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
stack-data==0.6.3
tenacity @ file:///C:/b/abs_ddkoa9nju6/croot/tenacity_1682972298929/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
traitlets==5.14.2
urllib3==2.2.1
wcwidth==0.2.13
zipp @ file:///C:/b/abs_b0beoc27oa/croot/zipp_1704206963359/work
